<html>
    <head>
        <title>Custom Directive</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.min.js"></script>
    </head>
    <body ng-app="DemoApp">
        <div ng-controller="DemoCtrl">
            Name: <input type="text" ng-model="name"><br />
            Age: <input type="number" ng-model="age"><br />
            Destination: <input type="text" ng-model="destination"><br />
            Salary: <input type="number" ng-model="salary"><br />
            <button ng-click="add()">Add</button>
            <br /><br />
            <table border="1px solid black" style="border-collapse : collapse; width : 70%;" ng-show="Show">
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Destination</th>
                    <th>Salary</th>
                </tr>
                <tr ng-repeat="i in obj">
                    <td>{{i.name}}</td>
                    <td>{{i.age}}</td>
                    <td>{{i.destination}}</td>
                    <td>{{i.salary}}</td>
                </tr>
            </table>
            <br /><br />
            Name: <input type="text" ng-model="aname"><br />
            Age: <input type="number" ng-model="aage"><br />
            Destination: <input type="text" ng-model="adestination"><br />
            Salary: <input type="number" ng-model="asalary"><br />
            <button ng-click="assign()">Assign</button>
        </div>
    </body>
    <script src="app.js"></script>
</html>